@using BootstrapIntroduction.Extensions
@using BootstrapIntroduction.ViewModels

@model IEnumerable<AuthorViewModel>

@{
    ViewBag.Title = "Index";
    var queryOptions = (QueryOptions)ViewBag.QueryOptions;
}

<h2>Authors</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<div style="display:none" data-bind="visible:authors.length> 0">
    <table class="table table-bordered table-striped">
        <tr>
            <th>
                @Html.BuildSortableLink("First Name", "Index", "FirstName", queryOptions)
            </th>
            <th>
                @Html.BuildSortableLink("Last Name", "Index", "LastName", queryOptions)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Biography)
            </th>
            <th></th>
        </tr>

        <tbody data-bind="foreach: authors">
            <tr>
                <td data-bind="text:firstName"></td>
                <td data-bind="text:lastName"></td>
                <td data-bind="text:biography"></td>
                <td>
                    <a data-bind="attr: { href: '@Url.Action("Details")/' + id }"
                       class="btn btn-info">Details</a>
                    <a data-bind="attr: { href: '@Url.Action("Edit")/' + id }"
                       class="btn btn-primary">Edit</a>
                    <a data-bind="click: $parent.showDeleteModal, attr: { href: '@Url.Action("Delete")/' + id }"
                       class="btn btn-danger">Delete</a>
                </td>
            </tr>
        </tbody>

        @*@foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.FirstName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LastName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Biography)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                        @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                    </td>
                </tr>
            }*@

    </table>

    @Html.BuildNextPreviousLinks(queryOptions, "Index")
</div>

<div style="display:none" data-bind="visible:authors.length == 0"
     class="alert alert-warning alert-dismissable" role="alert">
    <button type="button" class="close" data-dismiss="alert">
        <span aria-hidden="true">&times;</span>
        <span class="sr-only">Close</span>
    </button>
    There are no authors to display.
    Click @Html.ActionLink("here", "Create") to create on now.
</div>

@*@section Scripts{
    <script>
        function ViewModel(authors) {
            var self = this;
            self.authors = authors;
        }
        var viewModel = new ViewModel(@Html.HtmlConvertToJson(Model));
        ko.applyBindings(viewModel);
    </script>
}*@

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval",
        "/Scripts/ViewModels/AuthorIndexViewModel.js"
    )
    <script>
        var viewModel = new AuthorIndexViewModel(@Html.HtmlConvertToJson(Model));
        ko.applyBindings(viewModel);
    </script>
}